 h1 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #37638d; 
}

h2 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 2em;
  font-weight: bold;
  color: #37638d; 
}

h3 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 1.5em;
  color: #37638d;
}

p {
  font-family: serif; 
  font-weight: normal; 
  color: black;
  max-width: 75%;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9E570D;
	  border-radius: 15px 50px 30px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    font-size: 1em;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

img {
  width: 15%;
  height: auto;
  border-radius: 5px; 
  }